<h1>Add A City</h1>

<form action="/city/new" method="post">
  <div class="form-group">
    <label for="name">Name of City</label>
    <input class="form-control" type="text" name="name" id="name">
  </div>
  <button type="submit" name="button">Save City</button>
</form>
<a href="/system_operator" class = "btn btn-success active" role = "button">Go Back</a>
