<h1>Welcome to West Coast Train Company.</h1>
<h2>Schedule your ride around the West Coast.</h2>

<p><a href="/system_operator">Click here if you're a system operator</a></p>
<p><a href="/rider">Click here to schedule your ride</a></p>
